/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
	--color-white: #fff;
	--color-light-gray: #bfbfbf;
	--color-black: #000000;
	--color-playlist-menu: #292929;
	--color-playlist-menu-hover: #3e3e3e;
	--color-playlist-hover: #292929;
	--color-playlist-active: #444444;
	--color-dark-gray: #18181c;
	--color-primary: #5721f2;
	--color-on-surface: #000;
}
